/* CSS Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*********************
  Place Info Css
*********************/

/* map */

.place-info h1,.place-info h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;;
}

.place-info .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-info h1{
    font-size: 2rem;
    margin-top: 1.2rem;
    padding: 10px 10px 0 0;
}

.place-info p{
   font-size: 1rem;
}

.place-info h2{
    font-size: 1.7rem;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 iframe{
    overflow: hidden;
    width: 100%;
    height: 45vh;
    margin: 10px;
    max-width: 900px;
    max-height: 400px;
}


@media screen and (min-width:700px) {
   iframe{
        height: 50vh;
        margin-bottom: 50px;
    }
}

/*************

About Section

***************/

.about-section{
    font-family: "Poppins";
}

.about-section h1{
    margin-top: 10px;
}


/************ 

Loader
 
************/
.loader-section {
    width:100%;
    height: 50vh;
    max-height: 700px;
    display: flex;
    justify-content: center;
}

.loader-section .loader{
    margin-top: 10rem;
}
